{% extends "layout.html" %}

{% block title %}ایجاد پست جدید{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.8);height:fit-content;">
    <div class="row">
        <div>
			<form action="{{ url_for('create') }}" method="post" enctype="multipart/form-data" style="color:white;text-align: center;margin-top: 10px;">
                <label for="img">
                    عکس (اختیاری) :
                    <input type="file" name="img" class="btn btn-primary">
                </label><br/>
				<label for="title" style="margin: 5px;margin-top: 10px;" required>عنوان : &nbsp;</label><br/>
                <input name="title" style="width:70vw" placeholder="عنوان">
				<label for="content" style="margin: 5px;margin-bottom: 10px;" required>محتوا : &nbsp;<br/>
                    <textarea name="content" style="width:70vw;height:20rem;" placeholder="محتوا"></textarea>
				<div style="color:red;margin-bottom: 10px;">{{ msg }}</div>
				<button type="submit" class="btn btn-primary">ایجاد</button>
			</form>
        </div>
    </div>
</div>

{% endblock %}
