{% extends "layout.html" %}
{% block title %}عوامل اجرایی{% endblock %}

{% block content %}
    <div class="container-fluid" style="background-color:rgba(0, 0, 0, 0.8)">
        <div class="row">
            <div class="card col-md-6 offset-3">
                <img class="img-top rounded-circle" src="{{ url_for('static', filename='images/sarina.jpg') }}">
                <div class="card-body">
                    <h4 class="card-title">سارینا اسماعیلزاده</h4>
                    <p class="card-text">یکدختر 16 ساله که در انقلاب 1401 ایران توسطنیروهای سرکوبگر ج.ا کشته شد.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
      